<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Button link View</title>
</head>
<body>
    <form method="POST" action="/" name="formLongLink">

        <input type="text" id="result" name="result" value="1">
        <input type="submit" id="submitBtn" value="get Link">
    </form>

    <h1><input type="text" id="resultLink"></h1>
    {{script}}
    <script src="../static/ajax_button.js"></script>
</body>
</html>
